@font-face {font-family: "iconfont";
  src:url('https://at.alicdn.com/t/font_1636139_bv5h2cax89e.ttf') format('truetype')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}